/*
 * Assignment 02
 * CSS FILE
 */

body { 
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  font-size: 1.5rem;
  line-height: 1.6;

  min-width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

header {
  
  background-color: #eec7c7;
}

header h1{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #7a0505;
}

header h2{
  font-size: 30px;
  color: #7a0505;
}
header img{
  max-width: 100%;
  max-height: auto;
  margin: 40px;
  
   

} 
header nav h3 {
  color: #206f96;
  font: size 10px ;
}
header nav{
  background-color: #e1e8eb;
  color: #603d1a;
  text-align: center;
}
header ul {
  background-color: #e2d0d0;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
}
.flex-container{
  border: 1px solid #42c716;
  border-radius: 10px;

}
main{
  color: #7a0505;
  max-width: 900px;
  margin: 30px auto ;
  padding: 30px;
  background-color: #eec7c7 ;
  box-shadow: 0 0 10px rgb(5,5,5,0);
}
form{
  color: #7a0505;
}
footer nav h3 {
  color: #1c92cd;
  font: size 10px ;
}
footer nav{
  background-color: #5ec6fe;
  color: #603d1a;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
